<h1>Listado de los buses</h1>
<table class="table">
    @foreach (var bus in Model.Buses)
    {
        <tr>
            <td>@bus.ID</td>
            <td>@bus.MARCA</td>
            <td>@bus.MODELO</td>
            <td>@bus.KILOMETRAJE</td>
            <td>@bus.ASIENTOS</td>
            <td>@bus.PLACA</td>
            <td>
              <a class="btn btn-info" asp-page="./Details" asp-route-busId="@bus.id"><i class="fas fa-adjust"></i>Ver</a>
              <a class="btn btn-info" href="">Editar</a>
              <a class="btn btn-danger" href="">Eliminar</a>
              </td>
        </tr>
    }
</table>